.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vegetable-classification {
  /* border: 1px solid red; */
  margin: 0px 10px;
  padding: 50px;
}

.upload-photo-button {
  margin-top: 20px;
}

.uploaded-photo {
  margin: 10px 0px;
}

.vegetable-cls-container {
  display: flex;
  flex-direction: column;
  /* width: 400px; */
  width: 800px;
  /* height: fit-content; */
  padding: 20px 0px;
  /* margin-left: 20%; */
  margin: auto;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(42, 32, 145, 0.16);
}

.vegetable-cls-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.formfield {
  margin-top: 10px;
}

.footer {
  display: flex;
  height: 8vh;
  width: 100%;
  background-color: #002a38;
  line-height: 1.3;
  font-family: Menlo, monospace;
  /* margin-top: auto; */
  position: fixed;
  bottom: 0;
}

@media (max-width: 480px) {
  .footer {
    height: 25vh;
  }
}

.footerul {
  align-items: center;
  justify-content: center;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

.footerul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
}

@media (min-width: 500px) {
  .footerul {
    grid-auto-flow: column;
  }
}

a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}

.ulFooter {
  align-items: center;
}

.keepDistant {
  margin-top: 10px;
}

.results {
  margin-top: 0px;
  /* border: 1px solid red; */
  padding: 20px 0px;
}

.dropdown {
  display: flex;
  flex-direction: row;
}

.results-title {
  display: inline;
  font-size: larger;
  font-weight: 500;
}

:root {
  --angle: 45deg;
  --opacity: 0.5;
}

.rainbow {
  width: fit-content;
  height: fit-content;
  padding: 2px 5px;
  border-radius: 2px;
  margin: 7px;

  display: grid;
  place-content: center;
  text-align: center;

  font-size: 1em;

  --border-size: 0.1rem;
  border: var(--border-size) solid transparent;

  /* Paint an image in the border */
  border-image: conic-gradient(from var(--angle), #d53e33 0deg 90deg, #399953 270deg 360deg) 1 stretch;
  background: rgb(255 255 255 / var(--opacity));
}

@supports (background: paint(houdini)) {
  @property --opacity {
    syntax: '<number>';
    initial-value: 0.5;
    inherits: false;
  }

  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes opacityChange {
    to {
      --opacity: 1;
    }
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  .rainbow {
    animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
  }
}
